<extend name="Public/basefull"/>

<block name="sidebar"></block>

<block name="style">
    <style>
        body{padding: 0}
    </style>
</block>

<block name="body">

<div class="row">
    {:hook('AdminIndex')}
</div>

</block>

<block name="script">
	<script type="text/javascript" src="__STATIC__/assets/plugins/data-tables/jquery.dataTables.min.js"></script>
	<script type="text/javascript" src="__STATIC__/assets/plugins/data-tables/DT_bootstrap.js"></script>
	<script src="__STATIC__/assets/scripts/app.js"></script>
	<script>
		jQuery(document).ready(function() {    
		   App.init();
		});
	</script>
</block>