<!DOCTYPE html>
<!--[if lt IE 7 ]><html class="ie ie6" lang="zh-cn"> <![endif]-->
<!--[if IE 7 ]><html class="ie ie7" lang="zh-cn"> <![endif]-->
<!--[if IE 8 ]><html class="ie ie8" lang="zh-cn"> <![endif]-->
<!--[if (gte IE 9)|!(IE)]><!--><html class="not-ie" lang="zh-cn"> <!--<![endif]-->
<head>
<include file="Public/head"/>
</head>
<body>
    <!-- Header -->
    <header> 

        <div class="container">
            <div class="row">
                <div class="col-md-12">
                    <div class="top-container">
                        <!-- Logo -->                       
                        <a href="/" class="logo" title="Home"><img src="__IMG__/logo.png" alt=""></a> 

                        <!-- Top Items --> 
                        <ul class="top-items">
                            <li><i class="fa fa-lightbulb-o"></i>电话:  027-87003900 </li>
                        </ul>
                        <!-- Top Items End --> 
                    </div>
                </div> 
            </div> 
        </div> 

      
    </header>
    <!-- Header End -->     
    <div class="container">  
        <div class="row space60"></div>

        <div class="row modern-box">
            <div class="col-md-6 center">
                <h2><strong>站点建设中，敬请期待。。。</strong></h2>
                <hr/>
            </div>
        </div> 

        <div class="row space60"></div>
    </div>   

</body>
</html>