<extend name="Base/common"/>

<block name="header"></block>

<block name="body">

  <!-- Content -->    
  <!-- Modern Box -->         
  <div class="container">  
    <div class="row space60"></div>
    <div class="row modern-box">
      <div class="col-md-6 center">
        <h2>励精图治<br><strong>合作共赢！</strong></h2>
        <button class="btn">查看更多</button>
        <div class="row space40"></div>
      </div>
      <div class="col-md-6">
        <img src="__IMG__/devices/01.png" alt="">
      </div>
    </div> 
    <div class="row space60"></div>
  </div>      

  <div class="container popup-gallery">
    <div class="row">

      <div class="col-md-4">
        <div class="service-3">  
          <i class="fa fa-bullhorn"></i>
          <h4>研发</h4>
          <p>研发研发研发研发研发研发研发研发研发研发研发研发研发研发研发研发研发研发研发研发研发研发研发研发研发研发研发研发研发研发。</p>
          <button class="btn btn-primary btn-sm">More Info</button>
        </div>  
        <div class="space40"></div>
      </div> 
      
      <div class="col-md-4">
        <div class="service-3">  
          <i class="fa fa-bug"></i>
          <h4>生产</h4>
          <p>生产生产生产生产生产生产生产生产生产生产生产生产生产生产生产生产生产生产生产生产生产生产生产生产生产生产生产生产生产生产生产生产生产生产</p>
          <button class="btn btn-primary btn-sm">More Info</button>
        </div>  
        <div class="space40"></div>
      </div> 
  
      <div class="col-md-4">
        <div class="service-3">  
          <i class="fa fa-crosshairs"></i>
          <h4>销售</h4>
          <p>销售销售销售销售销售销售销售销售销售销售销售销售销售销售销售销售销售销售销售销售销售销售销售销售销售销售销售销售销售销售销售。</p>
          <button class="btn btn-primary btn-sm">More Info</button>
        </div>    
        <div class="space40"></div>
      </div> 

    </div>
  </div>
                          
  <!-- Modern Box End --> 
  <div class="container">  
    <div class="row">  
      <div class="col-md-12">
        <h4>热门产品</h4>   
      </div>  
    </div> 
  </div>     

  <!-- Recent Works -->
  <div class="container popup-gallery">
    <div class="row">

      <article class="col-md-3 col-sm-3 boxed-project">
        <div class="img-container">
          <!-- Item Link -->  
          <a href="img/gallery/01.jpg" title="Photo Title">
            <!-- Image -->
            <img src="__IMG__/gallery/01.jpg" alt="">
            <!-- Icon -->  
            <i class="fa fa-arrows-alt"></i>
          </a>
          <!-- Item Link End -->          
        </div>
        <div class="title">
          <h4>Boxed Project Title</h4>
          <h6>Webdesign</h6>
        </div>
      </article> 
      <article class="col-md-3 col-sm-3 boxed-project">
        <div class="img-container">
          <!-- Item Link -->  
          <a href="img/gallery/02.jpg" title="Photo Title">
            <!-- Image -->
            <img src="__IMG__/gallery/02.jpg" alt="">
            <!-- Icon -->  
            <i class="fa fa-arrows-alt"></i>
          </a>
          <!-- Item Link End -->          
        </div>
        <div class="title">
          <h4>Boxed Project Title</h4>
          <h6>Webdesign</h6>
        </div>
      </article> 
      <article class="col-md-3 col-sm-3 boxed-project">
        <div class="img-container">
          <!-- Item Link -->  
          <a href="img/gallery/03.jpg" title="Photo Title">
            <!-- Image -->
            <img src="__IMG__/gallery/03.jpg" alt="">
            <!-- Icon -->  
            <i class="fa fa-arrows-alt"></i>
          </a>
          <!-- Item Link End -->          
        </div>
        <div class="title">
          <h4>Boxed Project Title</h4>
          <h6>Webdesign</h6>
        </div>
      </article> 
      <article class="col-md-3 col-sm-3 boxed-project">
        <div class="img-container">
          <!-- Item Link -->  
          <a href="img/gallery/04.jpg" title="Photo Title">
            <!-- Image -->
            <img src="__IMG__/gallery/04.jpg" alt="">
            <!-- Icon -->  
            <i class="fa fa-arrows-alt"></i>
          </a>
          <!-- Item Link End -->          
        </div>
        <div class="title">
          <h4>Boxed Project Title</h4>
          <h6>Webdesign</h6>
        </div>
      </article> 
 
    </div>
  </div> 
  <!-- Recent Works End -->

  <div class="space40"></div>
  
  <div class="container">
    <div class="row">
      <div class="col-md-6">
      
        <!-- List -->
        <ul class="list-3">
          <li><a href="#"><i class="fa fa-angle-right"></i>纳米氧化锆在固体氧化物燃料电池上的..</a></li>
          <li><a href="#"><i class="fa fa-angle-right"></i>纳米氧化锆在固体氧化物燃料电池上的..</a></li>
          <li><a href="#"><i class="fa fa-angle-right"></i>纳米氧化锆在固体氧化物燃料电池上的..</a></li>
          <li><a href="#"><i class="fa fa-angle-right"></i>纳米氧化锆在固体氧化物燃料电池上的..</a></li>
          <li><a href="#"><i class="fa fa-angle-right"></i>纳米氧化锆在固体氧化物燃料电池上的..</a></li>
          <li><a href="#"><i class="fa fa-angle-right"></i>纳米氧化锆在固体氧化物燃料电池上的..</a></li>
          <li><a href="#"><i class="fa fa-angle-right"></i>纳米氧化锆在固体氧化物燃料电池上的..</a></li>
        </ul>
        <!-- List End -->
        <div class="space20"></div>
        <div class="divider"></div>
        <div class="space40"></div>
        
      </div>  
      <div class="col-md-6">
      
        
        <div class="content-box">
          <h4>Box Title</h4>
          <p>
            Lacus augue, tincidut? Placerat, aliquam ac a natoque sagittis, porta tincidunt vut velit platea amet? Phasellus turpis risus? Odio tincidunt! Nunc adipiscing a enim platea sociis magna! Odio amet et? Ut amet odio aliquam enim nec purus arcu, habitasse et dis nisi. Etiam pulvinar pulvinar porttitor sed vut porta lacus magna ultrices elementum
          </p>  
        </div>

        <div class="space40"></div>
        
      </div>     
    </div>
  </div>       

  <div class="space60"></div>
  <!-- Content End -->

</block>