<extend name="Base/common"/>

<block name="header">
<div class="layout text-center fadein-bottom">
  <div class="banner">
    <div class="carousel">
    <Addons:focus group="focus" name="pic">
      <div class="item b0{$key+1}" style="background-image:url({$pic.path})"><a href="{$pic.url}" title="{$pic.title}"></a></div>
    </Addons:focus>
    </div>
  </div>
</div>
</block>

<block name="body">
<div class="container max_width fadein-top">
  <div class="subject text-center padding-big">产品系列</div>
  <div class="line">
      
      <div class="x3">
        <div class="pro p01">
          <div class="item"><span class="icon_01"></span><strong>门户版</strong>最新版本：V3.1<br />更新日期：2015/6/2</div>
          <div class="line">
            <div class="x4"><a href="/product/portal.html">产品介绍</a></div>
            <div class="x4"><a href="/product/portal.html?v=2">版本区别</a></div>
            <div class="x4"><a href="/product/portal.html?v=3">下载体验</a></div>
          </div>
        </div>
      </div>
      
      <div class="x3">
        <div class="pro p02">
          <div class="item"><span class="icon_02"></span><strong>商城版</strong>最新版本：V2.0<br />更新日期：2015/5/4</div>
          <div class="line">
            <div class="x4"><a href="/product/shop.html">产品介绍</a></div>
            <div class="x4"><a href="/product/shop.html?v=2">版本区别</a></div>
            <div class="x4"><a href="/product/shop.html?v=3">下载体验</a></div>
          </div>
        </div>
      </div>
      
      <div class="x3">
        <div class="pro p03">
          <div class="item"><span class="icon_03"></span><strong>企业版</strong>最新版本：V2.0<br />更新日期：2015/3/9</div>
          <div class="line">
            <div class="x4"><a href="/product/web.html">产品介绍</a></div>
            <div class="x4"><a href="/product/web.html?v=2">版本区别</a></div>
            <div class="x4"><a href="/product/web.html?v=3">下载体验</a></div>
          </div>
        </div>
      </div>
      
      <div class="x3">
        <div class="pro p04 shake-hover">
          <div class="wait"><span></span><div>敬请期待</div></div>
        </div>
      </div>
  </div>
</div>

<div class="container max_width">
  <div class="line">
    
    <div>
      <div class="subject padding-big">产品推荐</div>
      <div class="line">
        
        <div class="x3"><a href="http://www.999wsc.com" target="_blank" title="万商城"><div><img src="__IMG__/2015031630662859.jpg" alt="万商城" title="万商城"></div><p>万商城</p></a></div>
        
        <div class="x3"><a href="http://www.v404.cn" target="_blank" title="中国网站频道"><div><img src="__IMG__/2014120158255269.jpg" alt="中国网站频道" title="中国网站频道"></div><p>中国网站频道</p></a></div>
        
        <div class="x3"><a href="http://www.webyuansu.cn" target="_blank" title="Web元素"><div><img src="__IMG__/2014120158345129.jpg" alt="Web元素" title="Web元素"></div><p>Web元素</p></a></div>
        
        <div class="x3"><a href="http://www.webyuansu.cn" target="_blank" title="Web元素"><div><img src="__IMG__/2014120158345129.jpg" alt="Web元素" title="Web元素"></div><p>Web元素</p></a></div>

      </div>
    </div>
  </div>
</div>

<div class="layout article">
  <div class="container max_width">
    <div class="line">
      
      <div class="x3">
        <div class="subject padding-big-top">我是新手</div>
        <div class="bg_line"></div>
        <ul>
          
          
          <li><a href="/woshixinshou/31.html" title="SDCMS安装教程" >SDCMS安装教程</a></li>
          
          
          <li><a href="/woshixinshou/30.html" title="SDCMS需要什么样的安装环境" >SDCMS需要什么样的安装环境</a></li>
          
          
          <li><a href="/woshixinshou/29.html" title="IIS如何开启父目录" >IIS如何开启父目录</a></li>
          
          
          <li><a href="/woshixinshou/28.html" title="如何设置文件夹的读写权限" >如何设置文件夹的读写权限</a></li>
          
          
          <li><a href="/woshixinshou/27.html" title="如何查看Asp的HTTP 500 内部服务器错误" >如何查看Asp的HTTP 500 内部服务器…</a></li>
          
        </ul>
      </div>
      
      <div class="x3">
        <div class="subject padding-big-top">高级技巧</div>
        <div class="bg_line"></div>
        <ul>
          
          
          <li><a href="/gaojijiqiao/48.html" title="首页调用单页简介或单页内容的方法" >首页调用单页简介或单页内容的方法…</a></li>
          
          
          <li><a href="/gaojijiqiao/47.html" title="为在线客服插件自定义模板" >为在线客服插件自定义模板</a></li>
          
          
          <li><a href="/gaojijiqiao/36.html" title="3天以内的内容后面显示new小图标的方法" >3天以内的内容后面显示new小图标的…</a></li>
          
          
          <li><a href="/gaojijiqiao/35.html" title="调用一个或多个类别的内容的方法" >调用一个或多个类别的内容的方法</a></li>
          
          
          <li><a href="/gaojijiqiao/34.html" title="调用某类别名称及其链接的方法" >调用某类别名称及其链接的方法</a></li>
          
        </ul>
      </div>
      
      <div class="x3">
        <div class="subject padding-big-top">常见问题</div>
        <div class="bg_line"></div>
        <ul>
          
          
          <li><a href="/changjianwenti/42.html" title="安装失败，无法创建Access数据库，具体原因为：没有注册类的解决方案" >安装失败，无法创建Access数据库，…</a></li>
          
          
          <li><a href="/changjianwenti/41.html" title="后台文件夹可以更改吗，更改后有什么问题？" >后台文件夹可以更改吗，更改后有什…</a></li>
          
          
          <li><a href="/changjianwenti/40.html" title="flv视频不能播放如何处理" >flv视频不能播放如何处理</a></li>
          
          
          <li><a href="/changjianwenti/39.html" title="动态、静态、伪静态模式有什么区别" >动态、静态、伪静态模式有什么区别…</a></li>
          
          
          <li><a href="/changjianwenti/38.html" title="如何去掉页面上的powered by sdcms" >如何去掉页面上的powered by sdcm…</a></li>
          
        </ul>
      </div>
      
      
      <div class="x3">
        <div class="subject padding-big-top">论坛互助</div>
        <div class="bg_line"></div>
        <ul>
          <li><a href="http://bbs.sdcms.cn/forum2/thread-14682-1.aspx" target="_blank">3.1门户版 图片模型 点击编辑就报...</a></li>
          <li><a href="http://bbs.sdcms.cn/company_/thread-14681-1.aspx" target="_blank">首页的公司简介修改不了</a></li>
          <li><a href="http://bbs.sdcms.cn/forum2/thread-14680-1.aspx" target="_blank">1.3版怎么实现一个栏目内容为静态...</a></li>
          <li><a href="http://bbs.sdcms.cn/forum4/thread-14679-1.aspx" target="_blank">仿站，高手进！</a></li>
          <li><a href="http://bbs.sdcms.cn/forum2/thread-14677-1.aspx" target="_blank">错误 \'8002801d\' /lib/class/sdc...</a></li>
        </ul>
      </div>
      
    </div>
  </div>
</block>