<extend name="Base/common"/>

<block name="header">
<div class="layout text-center fadein-bottom">
  <div class="banner">
    <div class="carousel">
    <Addons:focus group="focus" name="pic">
      <div class="item b0{$key+1}" style="background-image:url({$pic.path})"><a href="{$pic.url}" title="{$pic.title}"></a></div>
    </Addons:focus>
    </div>
  </div>
</div>
</block>

<block name="body">
<div class="container max_width fadein-top">
  <div class="subject text-center padding-big">产品系列</div>
  <div class="line">
      
      <div class="x4">
        <div class="pro p01">
          <div class="item"><span class="icon_01"></span><strong>门户版</strong>最新版本：V3.1<br />更新日期：2015/6/2</div>
          <div class="line">
            <div class="x4"><a href="/product/portal.html">产品介绍</a></div>
            <div class="x4"><a href="/product/portal.html?v=2">版本区别</a></div>
            <div class="x4"><a href="/product/portal.html?v=3">下载体验</a></div>
          </div>
        </div>
      </div>
      
      <div class="x4">
        <div class="pro p02">
          <div class="item"><span class="icon_02"></span><strong>商城版</strong>最新版本：V2.0<br />更新日期：2015/5/4</div>
          <div class="line">
            <div class="x4"><a href="/product/shop.html">产品介绍</a></div>
            <div class="x4"><a href="/product/shop.html?v=2">版本区别</a></div>
            <div class="x4"><a href="/product/shop.html?v=3">下载体验</a></div>
          </div>
        </div>
      </div>
      
      <div class="x4">
        <div class="pro p03">
          <div class="item"><span class="icon_03"></span><strong>企业版</strong>最新版本：V2.0<br />更新日期：2015/3/9</div>
          <div class="line">
            <div class="x4"><a href="/product/web.html">产品介绍</a></div>
            <div class="x4"><a href="/product/web.html?v=2">版本区别</a></div>
            <div class="x4"><a href="/product/web.html?v=3">下载体验</a></div>
          </div>
        </div>
      </div>
      
  </div>
</div>

<hr>

<div class="container max_width">
  <div class="line">
    
    <div>
      <div class="subject padding-big">产品推荐</div>
      <div class="line">

      <article:list name="article" category="2" child="true">
          <div class="x3">
            <a href="{:U('detail/'.$article['id'])}" target="_blank" title="{$article.title}">
              <div>
              <img src="{$article.cover_id|get_cover=###,'path'}" width="250" height="188" alt="{$article.title}" title="{$article.title}">
              </div>
              <p>{$article.title}</p>
            </a>
          </div>
      </article:list>

      </div>
    </div>
  </div>
</div>

<div class="layout article">
  <div class="container max_width">
    <div class="line">
      
      <div class="x4">
        <div class="subject padding-big-top">行业动态</div>
        <div class="bg_line"></div>
        <ul>
          
        <article:list name="article" category="3" child="true">
            <li><a href="{:U('detail/'.$article['id'])}" title="{$article.title}" >{$article.title}</a></li>
        </article:list>

        </ul>
      </div>
      
      <div class="x4">
        <div class="subject padding-big-top">技术支持</div>
        <div class="bg_line"></div>
        <ul>
          
        <article:list name="article" category="4" child="true">
            <li><a href="{:U('detail/'.$article['id'])}" title="{$article.title}" >{$article.title}</a></li>
        </article:list>

        </ul>
      </div>
      
      <div class="x4">
        <div class="subject padding-big-top">联系方式</div>
        <div class="bg_line"></div>

        <article:content id="7">
        {$content.content}
        </article:content>

      </div>
    </div>
  </div>
</block>