<extend name="Base/common"/>

<block name="header">
<div class="layout text-center fadein-bottom">
  <div class="banner">
    <div class="carousel">
    <Addons:focus group="focus" name="pic">
      <div class="item b0{$key+1}" style="background-image:url({$pic.path})"><a href="{$pic.url}" title="{$pic.title}"></a></div>
    </Addons:focus>
    </div>
  </div>
</div>
</block>

<block name="body">
<div class="container max_width fadein-top">
  <div class="subject text-center padding-big"></div>
  <div class="line">

      
      <div class="x7">
        <article:content id="5">
        {$content.content}
        </article:content>
      </div>
      

      <div class="x1">
      </div>

      <div class="x4">
        <div class="pro p03">
          <div class="line">
            <div class="x4"><a href="#">企业邮箱</a></div>
            <div class="x4"><a href="#">&nbsp;</a></div>
            <div class="x4"><a href="http://oa.canopharm.com" target="_blank">OA系统&raquo;</a></div>
          </div>
          <div class="item">
            <form name="form1" id="form1" action="https://exmail.qq.com/cgi-bin/login" target="_blank" method="post" onsubmit="return checkInput()">
              <input type="hidden" name="firstlogin" value="false">
              <input type="hidden" name="errtemplate" value="dm_loginpage">
              <input type="hidden" name="aliastype" value="other">
              <input type="hidden" name="dmtype" value="bizmail">
              <input type="hidden" name="p" value="">
              <div class="bizmail_column">
                <label>帐号:</label>
                <div class="bizmail_inputArea">
                <input type="text" name="uin" class="text" size="10" value="">@canopharm.com
                <input type="hidden" name="domain" value="canopharm.com">
                </div>
              </div>
              <div class="bizmail_column">
                <label>密码:</label>
                <div class="bizmail_inputArea">
                <input type="password" name="pwd" class="text" size="10" value="">
                <input type="submit" class="button bg-green-light" name=""  value="登录">

                </div>
              </div>
              <div class="bizmail_SubmitArea">
                <a href="https://exmail.qq.com/cgi-bin/readtemplate?check=false&amp;t=bizmail_orz" target="_blank">忘记密码?</a>
              </div>
            </form>
          </div>
        </div>
      </div>

  </div>
</div>

<!--div class="container max_width">
  <div class="line">
    
    <div>
      <div class="subject padding-big">产品推荐</div>
      <div class="line">

      <article:list name="article" category="2" child="true">
          <div class="x3">
            <a href="{:U('detail/'.$article['id'])}" target="_blank" title="{$article.title}">
              <div>
              <img src="{$article.cover_id|get_cover=###,'path'}" width="250" height="188" alt="{$article.title}" title="{$article.title}">
              </div>
              <p>{$article.title}</p>
            </a>
          </div>
      </article:list>

      </div>
    </div>
  </div>
</div-->

<div class="layout article">
  <div class="container max_width">
    <div class="line">
      
      <div class="x4">
        <div class="subject padding-big-top">行业动态</div>
        <div class="bg_line"></div>
        <ul>
          
        <article:list name="article" category="3" child="true">
            <li><a href="{:U('detail/'.$article['id'])}" title="{$article.title}" >{$article.title}</a></li>
        </article:list>

        </ul>
      </div>
      
      <div class="x4">
        <div class="subject padding-big-top">技术支持</div>
        <div class="bg_line"></div>
        <ul>
          
        <article:list name="article" category="5" child="true">
            <li><a href="{:U('detail/'.$article['id'])}" title="{$article.title}" >{$article.title}</a></li>
        </article:list>

        </ul>
      </div>

      <div class="x4">
        <div class="subject padding-big-top">联系方式</div>
        <div class="bg_line"></div>

        <article:content id="7">
        {$content.content}
        </article:content>

      </div>
    </div>
  </div>
</block>