<extend name="Base/common"/>

<block name="header">
    <div class="breadcrumb-container">
        <div class="container">  
            <div class="row">  
                <div class="col-md-12">
                    <h1>{$info.title}</h1>
                    <ol class="breadcrumb">
                        <li><a href="/">首页</a></li>
                        <li><a href="{:U('search/'.$keyword)}"> "{$keyword}"搜索结果</a></li>
                    </ol>
                </div>  
            </div> 
        </div> 
    </div>
</block>

<block name="body">

    <div class="space20"></div>

    <div class="container">  
        <div class="row"> 

            <!-- Sidebar -->
            <div class="col-md-3">

                <div class="">
                    <div class="space25"></div>
                    <h4>搜索</h4>

                    <form action="{:U('Article/search')}" method="post">
                        <div class="input-group">
                            <input type="text" class="form-control no-border-right" name="keyword">
                            <span class="input-group-btn">
                            <button class="btn" type="submit"><i class="fa fa-search"></i></button>
                            </span>
                        </div>
                    </form>
                </div>  

            </div>
            <!-- Sidebar End -->

            <div class="col-md-9 blog-content">

                <section id="portfolio-items">            
                    <ul class="row portfolio boxed popup-gallery">   
                    <volist name="rs" id="list">
                        <li> 
                            <!-- Gallery Item -->
                            <article class="col-md-3 col-sm-3 col-xs-6 project boxed-project" data-tags="bootstrap,html">
                                <div class="img-container">
                                    <!-- Item Link -->  
                                    <a href="{$list.cover_id|get_cover=###,'path'}" title="Photo Title">
                                    <!-- Image -->
                                    <img src="{$list.cover_id|get_cover=###,'path'}" alt="">
                                    <!-- Icon -->  
                                    <i class="fa fa-arrows-alt"></i>
                                    </a>
                                    <!-- Item Link End -->          
                                </div>
                                <div class="title">
                                    <h4><a href="{:U('detail/'.$list['id'])}" title="{$list.title}" target="_blank">{$list.title}</a></h4>
                                </div>
                            </article>
                            <!-- Gallery Item End -->
                        </li> 
                    </volist>
                    </ul>              
                </section>

                <ul class="pagination">
                <article:page cate="$category['id']" listrow="$category['list_row']" wrap="li" active="active" />
                </ul>

            </div>
        </div> 
    </div> 

    <div class="space60"></div>
</block>