
<div class="layout margin-big-top padding-big" id="footer">
  <div class="container">
    <div class="line">
      <div class="x3">
        <div class="title padding-top padding-bottom">产品系列</div>
        <a href="/product/portal.html" title="门户版">门户版</a><br>
        <a href="/product/shop.html" title="商城版">商城版</a><br>
        <a href="/product/web.html" title="企业版">企业版</a>
      </div>
      <div class="x3">
        <div class="title padding-top padding-bottom">关于我们</div>
        <a href="{:U('cate/about')}" title="关于我们">关于我们</a><br>
        <a href="{:U('cate/culture')}" title="公司文化">公司文化</a><br>
      </div>
      <div class="x3">
        <div class="title padding-top padding-bottom">合作</div>
        <a href="{:U('cate/jobs')}" title="人员招聘">人员招聘</a><br>
        <a href="http://www.nicemb.com" target="_blank" title="友情链接">友情链接</a><br>
      </div>
      <div class="x3">
        <div class="title padding-top padding-bottom">联系我们</div>
        <a href="{:U('cate/contact')}" title="联系我们">联系我们</a><br>
      </div>
    </div>
  </div>
</div>

<div class="layout copyright text-center padding-big text-small">Powered By <a href="/">南京楷伦生物医药科技有限公司</a></div>

<block name="script"></block> 
