
<div class="layout margin-big-top padding-big" id="footer">
  <div class="container">
    <div class="line">
      <div class="x3">
        <img src="__CSS__/img/logo_foot.png">
      </div>
      <div class="x3">
        <div class="title padding-top padding-bottom">关于我们</div>
        <a href="{:U('cate/about')}" title="关于我们">关于我们</a><br>
        <a href="{:U('cate/culture')}" title="公司文化">公司文化</a><br>
      </div>
      <div class="x3">
        <div class="title padding-top padding-bottom">合作</div>
        <a href="{:U('cate/jobs')}" title="人员招聘">人员招聘</a><br>
      </div>
      <div class="x3">
        <div class="title padding-top padding-bottom">联系我们</div>
        <a href="{:U('cate/contact')}" title="联系我们">联系我们</a><br>
      </div>
    </div>
  </div>
</div>

<div class="layout copyright text-center padding-big text-small">Powered By <a href="/">南京楷伦生物医药科技有限公司</a></div>

<block name="script"></block> 

<script src="http://s11.cnzz.com/stat.php?id=1256266762&web_id=1256266762" language="JavaScript"></script>
