<extend name="Public/base"/>

<block name="style">
	<link rel="stylesheet" href="__STATIC__/plugins/data-tables/DT_bootstrap.css" />
</block>

<!-- 子导航 -->
<block name="sidebar">
	<include file="sidemenu" />
</block>

<block name="body">
	{:R("Profile/siteInfo")}

	<div class="row">
		<div class="col-md-12">
			<!-- BEGIN EXAMPLE TABLE PORTLET-->
			<div class="tabbable tabbable-custom boxless">
				<ul class="nav nav-tabs">
					<li><a href="{:U('Profile/site?smethod=manage')}">站点信息</a></li>
					<li><a href="{:U('Profile/cate')}">栏目管理</a></li>
                    <li><a href="{:U('Profile/article')}">文章管理</a></li>
                    <li><a href="{:U('Profile/channel')}">导航管理</a></li>
                    <li class="active"><a href="{:U('Profile/site?smethod=config')}">站点设置</a></li>
				</ul>
				
				<div class="tab-content">
					<div class="portlet box green">
						<div class="portlet-title">
							<div class="caption"><i class="fa fa-globe"></i>站点设置</div>
							<div class="tools">
								<a href="javascript:;" class="collapse"></a>
								<a href="#portlet-config" data-toggle="modal" class="config"></a>
								<a href="javascript:;" class="reload"></a>
							</div>
						</div>
						<div class="portlet-body form">
							<form action="{:U('Profile/site',array('smethod'=>'editsite'))}" method="post" class="form-1">
								<div class="form-body">
									<div class="form-group">
										<label>设置<span class="check-tips"></span></label>
										<textarea class="form-control" rows="5" name="config" >{$site_info.config|default=''}</textarea>
									</div>
								</div>
								
								<div class="form-actions fluid ">
									<div class="col-md-offset-3 col-md-9">
										<input type="hidden" name="id" value="{$site_info.id|default=''}">
										<button class="btn green ajax-post" type="submit" target-form="form-1">确 定</button>
										<button class="btn default btn-return" onclick="javascript:history.back(-1);return false;">返 回</button>				  
									</div>
								</div>
							</form>
						</div>
					</div>
				</div>
					
			</div>
			<!-- END EXAMPLE TABLE PORTLET-->
		</div>
	</div>

</block>

<block name="script">
	<!-- BEGIN PAGE LEVEL PLUGINS -->
	<script type="text/javascript" src="__STATIC__/plugins/data-tables/jquery.dataTables.js"></script>
	<script type="text/javascript" src="__STATIC__/plugins/data-tables/DT_bootstrap.js"></script>
	<!-- END PAGE LEVEL PLUGINS -->
	<!-- BEGIN PAGE LEVEL SCRIPTS -->
	<script src="__STATIC__/scripts/app.js"></script>
	<script src="__STATIC__/scripts/table-managed.js"></script>	 
	<script>
		jQuery(document).ready(function() {	   
			App.init();
			TableManaged.init();
		});
	</script>
</block>