<extend name="Public/base" />

<block name="body">

		<!-- 表单 -->

		<div class="row">
				<div class="col-md-12">
					<div class="tabbable tabbable-custom boxless">
                        <form id="form" action="{:U($type)}" method="post" class="form-1">
						<div class="tab-content">
                            
                            <div class="portlet box red">
                                <div class="portlet-title">
                                    <div class="caption"><i class="fa fa-reorder"></i> {$operate}分类 </div>
                                    <div class="tools">
                                        <a href="javascript:;" class="collapse"></a>
                                        <a href="#portlet-config" data-toggle="modal" class="config"></a>
                                        <a href="javascript:;" class="reload"></a>
                                        <a href="javascript:;" class="remove"></a>
                                    </div>
                                </div>
                                <div class="portlet-body form">
                                    <!-- BEGIN FORM-->
                                    
                                        <div class="form-body">
                                            <div class="form-group">
                                                <label class="item-label">目标分类<span class="check-tips">（将{$operate}至的分类）</span></label>
                                            
                                                <select class="form-control input-medium"  name="to">
                                                    <volist name="list" id="vo">
                                                        <option value="{$vo.id}">{$vo.title}</option>
                                                    </volist>
                                                </select>
                                            </div>
                                        </div>
                                        
                                        
                                        <div class="form-actions fluid ">
                                            <div class="col-md-offset-3 col-md-9">
                                                <input type="hidden" name="from" value="{$from}">
                                                <button type="submit" id="submit" class="btn green submit-btn ajax-post" target-form="form-1">确 定</button>
                                                <button class="btn btn-return" onclick="javascript:history.back(-1);return false;">返 回</button>                      
                                            </div>
                                        </div>
                                    
                                    <!-- END FORM--> 
                                </div>
                            </div>
						</div>
                        
                        </form>
					</div>
				</div>
			</div>


</block>

<block name="script">
	<!-- BEGIN PAGE LEVEL SCRIPTS -->
	<script src="__STATIC__/scripts/app.js"></script>
	<!-- END PAGE LEVEL SCRIPTS -->
	<script>
	jQuery(document).ready(function() {       
		// initiate layout and plugins
		App.init();

        highlight_subnav('{:U('Category/index')}');
		
	});
	</script>
</block>


