<block name="header">
    <div class="breadcrumb-container">
        <div class="container">  
            <div class="row">  
                <div class="col-md-12">
                    <h1>{$info.title}</h1>
                    <ol class="breadcrumb">
                        <li><a href="/">首页</a></li>
                        <volist name="breadcrumb" id="cate">
                        <li><a href="{:U('cate/'.$cate['name'])}"> {$cate.title}</a></li>
                        </volist>
                    </ol>
                </div>  
            </div> 
        </div> 
    </div>
</block>

<block name="body"></block>

<block name="footer">

    <!-- Footer -->  
    <footer class="footer">

        <div class="footer-info">
            <div class="container">
                <div class="row">

                <div class="col-md-3 col-sm-6">
                    <h6>关于我们</h6>         
                    生物医药技术研究开发与成果转让；新药开发技术咨询；新药临床研究；化学工程研究。
                    <div class="space30"></div>
                </div>

                <div class="col-md-3 col-sm-6">
                    <h6>行业动态</h6>      
                    <ul class="list-5">
                        <li><a href="#"><i class="fa fa-caret-right"></i>纳米氧化锆在固体氧化物燃料电池上的..</a></li>
                        <li><a href="#"><i class="fa fa-caret-right"></i>纳米氧化锆在固体氧化物燃料电池上的..</a></li>
                        <li><a href="#"><i class="fa fa-caret-right"></i>纳米氧化锆在固体氧化物燃料电池上的..</a></li>
                        <li><a href="#"><i class="fa fa-caret-right"></i>纳米氧化锆在固体氧化物燃料电池上的..</a></li>
                        <li><a href="#"><i class="fa fa-caret-right"></i>纳米氧化锆在固体氧化物燃料电池上的..</a></li>
                        <li><a href="#"><i class="fa fa-caret-right"></i>纳米氧化锆在固体氧化物燃料电池上的..</a></li>
                        <li><a href="#"><i class="fa fa-caret-right"></i>纳米氧化锆在固体氧化物燃料电池上的..</a></li>
                    </ul>
                    <div class="space30"></div>
                </div>

                <div class="col-md-3 col-sm-6">
                    <h6>联系方式</h6>
                    湖北省武汉市珞狮路147号。
                    <div class="item-icon">
                        <i class="fa fa-phone"></i>
                        027-88888888<br>
                    </div>
                    <div class="item-icon">
                        <i class="fa fa-envelope"></i>
                        <a href="mailto:info@riley-template.com">info@riley-template.com</a><br>
                    </div>
                    <div class="item-icon">
                        <i class="fa fa-comment"></i>
                        <a href="mailto:chat@riley-template.com">chat@riley-template.com</a><br>
                    </div>
                    <div class="space30"></div>
                </div>

                <div class="col-md-3 col-sm-6">
                    <h6>FLICKR PHOTOS</h6>
                    <div class="flickr">
                        <a href="#"><img src="__IMG__/flickr/01.jpg" alt=""></a>
                        <a href="#"><img src="__IMG__/flickr/02.jpg" alt=""></a>
                        <a href="#"><img src="__IMG__/flickr/03.jpg" alt=""></a> 
                        <a href="#"><img src="__IMG__/flickr/04.jpg" alt=""></a> 
                        <a href="#"><img src="__IMG__/flickr/05.jpg" alt=""></a> 
                        <a href="#"><img src="__IMG__/flickr/06.jpg" alt=""></a> 
                    </div>
                    <div class="space30"></div>
                </div>
                
                </div>
            </div>
        </div>

        <div class="copyright"> 
            <div class="container">  
                <div class="row">
                    <div class="col-sm-12">
                    &copy; 2014 武汉励合生物医药科技有限公司
                    </div>  
                </div> 
            </div>  
        </div>

    </footer>     
    <!-- Footer End --> 

</block>