<block name="header">
    <div class="breadcrumb-container">
        <div class="container">  
            <div class="row">  
                <div class="col-md-12">
                    <h1>{$info.title}</h1>
                    <ol class="breadcrumb">
                        <li><a href="/">首页</a></li>
                        <volist name="breadcrumb" id="cate">
                        <li><a href="{:U('cate/'.$cate['name'])}"> {$cate.title}</a></li>
                        </volist>
                    </ol>
                </div>  
            </div> 
        </div> 
    </div>
</block>

<block name="body"></block>

<block name="footer">

    <!-- Footer -->  
    <footer class="footer">

        <div class="footer-info">
            <div class="container">
                <div class="row">

                <div class="col-md-4 col-sm-6">
                    <h6>关于我们</h6>  
                    <p>我们聚焦于生物医药和大健康领域，为您的生命健康添动力！</p>

                    <div class="flickr">
                        <img src="__IMG__/wx.jpg" />
                    </div>       
                    <div class="space30"></div>
                </div>

                <div class="col-md-4 col-sm-6">
                    <h6>行业动态</h6>      
                    <ul class="list-5">
                        <Article:list name="list" category="28" row="5">
                        <li><a href="{:U('detail/'.$list['id'])}"><i class="fa fa-caret-right"></i>{$list.title}</a></li>
                        </Article:list>
                    </ul>
                    <div class="space30"></div>
                </div>

                <div class="col-md-4 col-sm-6">
                    <h6>联系方式</h6>
                    <p>武汉市东湖高新区高新大道666号光谷生物城B8栋五楼E302,306室。</p>
                    <div class="item-icon">
                        <i class="fa fa-phone"></i>
                        027-87003900<br>
                    </div>
                    <div class="item-icon">
                        <i class="fa fa-envelope"></i>
                        <a href="mailto:info@riley-template.com">info@riley-template.com</a><br>
                    </div>
                    <div class="space30"></div>
                </div>
                
                </div>
            </div>
        </div>

        <div class="copyright"> 
            <div class="container">  
                <div class="row">
                    <div class="col-sm-12">
                    &copy; 2014 <a href="http://www.lehesc.com">武汉励合生物医药科技有限公司</a>
                    </div>  
                </div> 
            </div>  
        </div>

    </footer>     
    <!-- Footer End --> 

</block>