
<a href="#" class="back-to-top"><span></span></a> 

<!-- JavaScripts -->
<script type="text/javascript" src="__JS__/jquery-1.10.2.js"></script>                                                  
<script type="text/javascript" src="__JS__/bootstrap.js"></script>  
<script type="text/javascript" src="__JS__/jquery.easing.js"></script>  
<script type="text/javascript" src="__JS__/jquery.sticky.js"></script>
<script type="text/javascript" src="__JS__/tinynav.min.js"></script>      
<script type="text/javascript" src="__JS__/animate.js"></script>
<script type="text/javascript" src="__JS__/jquery.fitvids.js"></script> 
<script type="text/javascript" src="__JS__/jquery.isotope.min.js"></script>
<script type="text/javascript" src="__JS__/jquery.parallax-1.1.3.js"></script>
<script type="text/javascript" src="__JS__/jquery.magnific-popup.min.js"></script> 
<script type="text/javascript" src="__JS__/retina.js"></script> 
<script type="text/javascript" src="__JS__/respond.min.js"></script> 
<script type="text/javascript" src="__JS__/scale.fix.js"></script>
<script type="text/javascript" src="__JS__/jquery.countdown.js"></script> 
<script type="text/javascript" src="__JS__/jquery.flexslider-min.js"></script>
<script type="text/javascript" src="__JS__/jquery.refineslide.js"></script>
<script type="text/javascript" src="__DIY__/layerslider/js/greensock.js"></script>
<script type="text/javascript" src="__DIY__/layerslider/js/layerslider.transitions.js"></script>
<script type="text/javascript" src="__DIY__/layerslider/js/layerslider.kreaturamedia.jquery.js"></script>
<script type="text/javascript" src="__DIY__/rs-plugin/js/jquery.themepunch.plugins.min.js"></script>
<script type="text/javascript" src="__DIY__/rs-plugin/js/jquery.themepunch.revolution.min.js"></script>
<script type="text/javascript" src="__DIY__/masterslider/masterslider.js"></script>  
<script type="text/javascript" src="__JS__/functions.js"></script> 

<block name="script"></block> 