<block name="header">
<header class="jumbotron" id="overview"  style="background:url('<eq name="category['icon']" value="0">/Public/Home/images/bg3.gif<else />{$category['icon']|get_cover=###,'path'}</eq>');background-size: cover;background-position:0;">
    <div class="container">
        <h2>{$category['description']|default="励精图治，合作共赢！"}</h2>
        <p class="lead"></p>
    </div>
</header>
</block>

	
<div id="content" class="container" >

    <block name="breadcrumb"></block>

    <div class="row">

        <div class="col-md-3">

        <block name="side">
            <include file="Public/side" />
        </block>

        </div>

        <div class="col-md-9">

        <block name="body"></block>

        </div>
    </div>
</div>