
                <!-- List group -->
                {:W('Category/lists', array($category['id'], ACTION_NAME == 'index'))}
                            
                <div class="panel panel-default">
                    <div class="panel-heading">
                        <h3 class="panel-title">联系方式</h3>
                    </div>
                    <div class="panel-body">
                        <p>
                            武汉励合化学新材料有限公司
                        </p>
                        <p>
                            联系人：高经理
                        </p>
                        <p>
                            电话：027-87656932
                        </p>
                        <p>
                            联系地址：武汉市珞狮路147号武汉理工大学创业园310室
                        </p> 
                    </div>
                </div>
