<!DOCTYPE html>
<!--[if lt IE 7 ]><html class="ie ie6" lang="zh-cn"> <![endif]-->
<!--[if IE 7 ]><html class="ie ie7" lang="zh-cn"> <![endif]-->
<!--[if IE 8 ]><html class="ie ie8" lang="zh-cn"> <![endif]-->
<!--[if (gte IE 9)|!(IE)]><!--><html class="not-ie" lang="zh-cn"> <!--<![endif]-->
<head>
<include file="Public/head"/>
</head>
<body>
<!-- 头部 -->
<include file="Public/header"/>
<!-- /头部 -->

<!-- 主体 -->
<include file="Public/body"/>
<!-- /主体 -->

<!-- 底部 -->
<include file="Public/footer"/>
<!-- /底部 -->
</body>
</html>
