<extend name="Base/common_full"/>

<block name="body">

    <div class="row">
        <div class="col-md-3 padding-head">
            <h3  class="text-center">励合化学</h3>
        </div>
        <div class="col-md-6">
            <p>公司创建于2013年4月，通过整合资源，以独特的线上线下整合营销模式，形成网络销售-技术-产品三位一体的服务平台。</p>
            <p>宗旨：致力于以精益化，清洁化为产品研发的宗旨。</p>
            <p>目标：做可持续性的合作伙伴，通过提供创新的化学解决方案。</p>
        </div>
        <div class="col-md-3">
            <p  class="text-center"><img  src="__IMG__/lehe.png" width="200"></p>
        </div>
    </div>
    <hr/>
    <div class="row">
        <div class="col-md-3 padding-head">
            <h3  class="text-center">美国都保</h3>
        </div>
        <div class="col-md-6">
            <p>成立于1920年的一家工业特殊化学品公司。</p>
            <ul>
                <li>针对目标市场提供创新的可持续的最佳解决方案</li>
                <li>以精益、绿色与洁净为产品研发方向</li>
            </ul>
        </div>
        <div class="col-md-3">
            <p  class="text-center"><img  src="__IMG__/dubois.png" width="200"></p>
        </div>
    </div>
    <hr/>
    <div class="row">
        <div class="col-md-3 padding-head">
            <h3  class="text-center">服务范围</h3>
        </div>
        <div class="col-md-6">
            <ul>
                <li>金属清洗& 前处理；</li>
                <li>金属加工处理化学品；</li>
                <li>水处理(冷却, 锅炉, 废水；</li>
                <li>设备维护清洗；</li>
                <li>润滑油脂；</li>
                <li>交通设施、车辆及其它设备的清洗；</li>
                <li>特殊产品:喷漆房的维护</li>
                <li>产品包括抗油剂、消泡剂、流平剂、润湿分散剂、手感剂、耐磨抗刮剂、导电剂、抗静电剂、防掉银剂、附着力促进剂、玻璃密着剂、PP底水、二甲基硅油、防沉剂、锤纹剂、钴水（兰水）、白水（过氧化甲乙酮）、防结皮剂、渗透剂、氟碳表面活性剂、氟硅表面活性剂、水性树脂、光引发剂等。</li>
                <li><a href="/cate/product.html">产品列表</a>
                <span class="glyphicon glyphicon-arrow-right" aria-hidden="true"></span></li>

            </ul>
        </div>
    </div>

</block>