<extend name="Base/common"/>

<block name="body">
    <div id="content" class="container" >
        <h2>BNK-NSF348消泡剂</h2>
        <hr>
        <div class="row">
        
            <div class="col-md-3">
                <p  class="text-center"><img  src="__IMG__/p.svg"></p>
            </div>
            <div class="col-md-9">
                <h3>技术资料</h3>
                <p>不含聚硅氧烷高分子聚合物.</p>

                <h4>特性</h4>   
                <p>不含聚有机硅氧烷复合物    </p>  
                                  
                <h4>优点</h4>   
                <ul>
                    <li>优异的消泡效果和抑泡性能</li>
                    <li>低表面张力</li>                        
                    <li>使用简便、高效</li>
                    <li>良好的相容性</li>
                </ul>

                <h4>概述</h4>      
                <p>本品为不含聚硅氧烷复合剂，能有效地降低液体的表面张力，具有优异的消泡效果，本品特别适用于溶剂性工业涂料，木器涂料等，具有极佳的抑泡，破泡，消泡效果。</p>

                <h4>技术数据</h4>
                <ul>
                    <li>外观（目测）:微黄色透明液体</li>
                    <li>密度:0.2</li>
                    <li>闪点:70</li>
                    <li>活性物含量(%):50%</li>
                </ul>
                注:本数据表所列数值只叙述了本产品典型的性质,不代表本公司技术标准.</p>
                <h4>溶解性能</h4>  
                <p>以苯类、酯类、酮类为溶剂（稀释剂）</p>
                 
                <h4>应用领域</h4>  
                <p>油性涂料、油墨等</p>
                 
                <h4>使用方法</h4>  
                <p>为了充分获得消泡效果，请在制造前添加，并搅拌均匀，分散良好的情况下，可避免涂料起空洞，缩孔.</p>
                 
                <h4>推荐用量</h4>  
                <p>本品的建议添加量为0.02-0.4%(按总配方时计,)建议使用前应试验以确定最佳用法和用量</p>
                 
                <h4>包装规格</h4>  
                <p>25KG包装</p>
                 
                <h4>储存运输</h4>  
                <p>本品为危险品，运输\储存时要远离热源、火源；避免日晒雨淋。本品未用完前,每次使用后容器应严格密封.本品使用有效期为六个月</p>
            </div>

        </div>
    </div>
</block>