<extend name="Base/common"/>

<block name="header">
    <header class="jumbotron">
        <div class="container">
            <h2>源自相同起点，演绎不同精彩！</h2>
            <p class="lead"></p>
        </div>
    </header>
</block>

<block name="body">
    <div id="content" class="container" >
        <h2>产品列表</h2>
        <hr>
        <div class="row">
        
            <div class="col-md-3 col-sm-4">
                <div class="thumbnail">
                    <img src="__IMG__/p.svg" alt="...">
                    <div class="caption">
                        <h3>Thumbnail label</h3>
                        <p>...</p>
                        <p><a href="#" class="btn btn-primary" role="button">Button</a> <a href="#" class="btn btn-default" role="button">Button</a></p>
                    </div>
                </div>
            </div>
        
            <div class="col-md-3 col-sm-4">
                <div class="thumbnail">
                    <img src="__IMG__/p.svg" alt="...">
                    <div class="caption">
                        <h3>Thumbnail label</h3>
                        <p>...</p>
                        <p><a href="#" class="btn btn-primary" role="button">Button</a> <a href="#" class="btn btn-default" role="button">Button</a></p>
                    </div>
                </div>
            </div>
        
            <div class="col-md-3 col-sm-4">
                <div class="thumbnail">
                    <img src="__IMG__/p.svg" alt="...">
                    <div class="caption">
                        <h3>Thumbnail label</h3>
                        <p>...</p>
                        <p><a href="#" class="btn btn-primary" role="button">Button</a> <a href="#" class="btn btn-default" role="button">Button</a></p>
                    </div>
                </div>
            </div>

            <div class="col-md-3 col-sm-4">
                <div class="thumbnail">
                    <img src="__IMG__/p.svg" alt="...">
                    <div class="caption">
                        <h3>Thumbnail label</h3>
                        <p>...</p>
                        <p><a href="#" class="btn btn-primary" role="button">Button</a> <a href="#" class="btn btn-default" role="button">Button</a></p>
                    </div>
                </div>
            </div>

        </div>
    </div>
</block>