
<div class="layout margin-big-top padding-big" id="footer">
  <div class="container">
    <div class="line">
      <div class="x3">
        <img src="__CSS__/img/logo_foot.png">
      </div>
      <div class="x3">
        <div class="title padding-top padding-bottom">Company</div>
        <a href="{:U('cate/about')}" title="About Us">About Us</a><br>
        <a href="{:U('cate/culture')}" title="Culture">Culture</a><br>
      </div>
      <div class="x3">
        <div class="title padding-top padding-bottom">Cooperation</div>
        <a href="{:U('cate/jobs')}" title="Jobs">Jobs</a><br>
      </div>
      <div class="x3">
        <div class="title padding-top padding-bottom">Contact</div>
        <a href="{:U('cate/contact')}" title="Contact">Information</a><br>
      </div>
    </div>
  </div>
</div>

<div class="layout copyright text-center padding-big text-small">Powered By <a href="/"> NANJING KAILUN BIO-TECHNOLOGY CO.,LTD</a></div>

<block name="script"></block> 

<script src="http://s11.cnzz.com/stat.php?id=1256266762&web_id=1256266762" language="JavaScript"></script>