<extend name="Public/base"/>

<block name="body">
    
    <div class="row">
        <div class="col-md-12">
            
            <div class="tabbable tabbable-custom boxless">
            
                <ul class="nav nav-tabs">
                    <li class="active"><a href="#tab_1" data-toggle="tab">新增用户</a></li>
                    <li><a href="#tab_2" data-toggle="tab">邀请注册</a></li>
                </ul>
                
                <div class="tab-content">
                    <div id="tab_1" class="tab-pane active">
                        <div class="portlet box blue">
                            <div class="portlet-title">
                                <div class="caption"><i class="fa fa-reorder"></i>新增用户</div>
                                <div class="tools">
                                    <a href="javascript:;" class="collapse"></a>
                                    <a href="#portlet-config" data-toggle="modal" class="config"></a>
                                    <a href="javascript:;" class="reload"></a>
                                    <a href="javascript:;" class="remove"></a>
                                </div>
                            </div>
                            <div class="portlet-body form">
                                <!-- BEGIN FORM-->
                                <form id="form1"  action="{:U()}" method="post" class="form-1" >
                                    <div class="form-body">
                                    
                                    	<input type="hidden" name="type" value="1" />
                                        <div class="form-group">
                                            <label>用户名<span class="check-tips">（用户名会作为默认的昵称）</span></label>
                                            <input type="text" class="form-control input-xlarge"  name="username" value="">
                                        </div>
    
                                        <div class="form-group">
                                            <label>密码<span class="check-tips">（用户密码不能少于6位）</span></label>
                                            <input type="password" class="form-control input-xlarge"  name="password" value="">
                                        </div>
    
                                        <div class="form-group">
                                            <label>确认密码</label>
                                            <input type="password" class="form-control input-xlarge"  name="repassword" value="">
                                        </div>
    
                                        <div class="form-group">
                                            <label>邮箱<span class="check-tips">（用户邮箱，用于找回密码等安全操作）</span></label>
                                            <input type="text" class="form-control input-xlarge"  name="email" value="">
                                        </div>
    
                                    </div>
                                    
                                    
                                    <div class="form-actions fluid ">
                                        <div class="col-md-offset-3 col-md-9">
                                            <button class="btn green submit-btn ajax-post" id="submit" type="submit" target-form="form-1">确 定</button>
                                            <a class="btn default btn-return" href="{:U('article/index?cate_id='.$cate_id)}">返 回</a>                        
                                        </div>
                                    </div>
                                 </form>
                                <!-- END FORM--> 
                            </div>
                        </div>
                    </div>
                    <div id="tab_2" class="tab-pane">
                        <div class="portlet box blue">
                            <div class="portlet-title">
                                <div class="caption"><i class="fa fa-reorder"></i>邀请注册</div>
                                <div class="tools">
                                    <a href="javascript:;" class="collapse"></a>
                                    <a href="#portlet-config" data-toggle="modal" class="config"></a>
                                    <a href="javascript:;" class="reload"></a>
                                    <a href="javascript:;" class="remove"></a>
                                </div>
                            </div>
                            <div class="portlet-body form">
                                <!-- BEGIN FORM-->
                                <form id="form2"  action="{:U()}" method="post" class="form-2" >
                                    <div class="form-body">
                                    
                                   		<input type="hidden" name="type" value="2" />
                                        <div class="form-group">
                                            <label>邮箱<span class="check-tips">（用户邮箱，用于找回密码等安全操作）</span></label>
                                            <input type="text" class="form-control input-xlarge"  name="email" value="">
                                        </div>
    
                                    </div>
                                    
                                    
                                    <div class="form-actions fluid ">
                                        <div class="col-md-offset-3 col-md-9">
                                            <button class="btn green submit-btn ajax-post" id="submit" type="submit" target-form="form-2">确 定</button>
                                            <a class="btn default btn-return" href="{:U('article/index?cate_id='.$cate_id)}">返 回</a>                        
                                        </div>
                                    </div>
                                 </form>
                                <!-- END FORM--> 
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</block>

<block name="script">
	<!-- BEGIN PAGE LEVEL SCRIPTS -->
	<script src="__STATIC__/scripts/app.js"></script>
	<!-- END PAGE LEVEL SCRIPTS -->
	<script>
	jQuery(document).ready(function() {       
		// initiate layout and plugins
		App.init();

        highlight_subnav('{:U('User/index')}');
	})
	</script>
</block>
